@use "../variables" as *;

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
  background-color: $light-bg;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;

  &.dark {
    background-color: $dark-bg;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $light-border;
    background-color: white;
    color: $light-text;
    border-radius: 4px;
    font-size: 1rem;
    transition: border 0.3s, background 0.3s;

    &::placeholder {
      color: #888;
      font-style: italic; /* Додано стилізацію плейсхолдера */
    }

    &:focus {
      border-color: $light-text;
      outline: none;
      background-color: #f1f1f1;
    }
  }

  &.dark input {
    border: 1px solid $dark-border;
    background-color: #555;
    color: $dark-text;

    &:focus {
      border-color: $dark-text;
      background-color: #666;
    }
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: $dark-bg;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    border: 1px solid gray;

    &:hover {
      background-color: $dark-border;
    }
  }

  .emojiButton {
    position: absolute;
    bottom: 15px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .emojiPickerWrapper {
    position: absolute;
    top: 350px;
    right: 10px;
    z-index: 1000;
  }

  .emoji-picker-react {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 1.2rem;
    width: 250px;
  }

  .emoji-picker-react .emoji-search {
    display: flex;
    justify-content: space-between; /* Встановлено space-between */
    padding: 0.5rem;
    position: relative;
  }

  .emoji-picker-react .emoji-search input {
    width: 100%;
    padding-left: 30px; /* Відступ від значка */
  }

  .emoji-picker-react .emoji-search .emoji-search__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .emoji-picker-react .emoji-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .emoji-picker-react .emoji-group .emoji-item {
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }

  .emoji-picker-react .emoji-group .emoji-item:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    padding: 1rem;

    input {
      font-size: 0.9rem;
      padding: 0.6rem;
    }

    button {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  }

  @media (max-width: 480px) {
    padding: 0.8rem;
    border-radius: 6px;

    input {
      font-size: 0.85rem;
      padding: 0.5rem;
    }

    button {
      font-size: 0.85rem;
      padding: 0.5rem;
    }
  }
}

